# 1. Project Setup
## 1.1 Define Project Objectives
For the Titanic dataset, the objectives include:

- Understanding the dataset's structure and content.
- Identifying key features that may influence survival rates.
- Handling missing data effectively.
- Generating visual insights about passengers' demographics, ticket classes, and survival rates.

## 1.2 Feature Description

| Feature       | Description                                                                 | Data Type     | Example Value      |
|---------------|-----------------------------------------------------------------------------|---------------|--------------------|
| PassengerId   | Unique identifier for each passenger                                       | Integer       | 892                |
| Survived      | Survival status (0 = No, 1 = Yes)                                         | Integer       | 1                  |
| Pclass        | Passenger class (1 = First, 2 = Second, 3 = Third)                        | Integer       | 3                  |
| Name          | Full name of the passenger                                                | String        | Kelly, Mr. James   |
| Sex           | Gender of the passenger (male/female)                                     | String        | male               |
| Age           | Age of the passenger in years                                             | Int         | 34.5               |
| SibSp         | Number of siblings and/or spouses aboard the Titanic                      | Integer       | 0                  |
| Parch         | Number of parents and/or children aboard the Titanic                      | Integer       | 0                  |
| Ticket        | Ticket number                                                             | String        | 330911             |
| Fare          | Passenger fare paid                                                      | Float         | 7.8292             |
| Cabin         | Cabin number (if assigned)                                               | String/NaN    | NaN (missing value)|
| Embarked      | Port of embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)      | String        | Q                  |

In [4]:
# IMPORTING NECESSARY LIBRARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2. Load and Inspect the Data
## 2.1 Load the Dataset

In [5]:
data_path = r"C:\Users\USER\Downloads\archive (22)\tested.csv"
df = pd.read_csv(data_path)

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S